bucket         = "project-name-dev-terraform-state"
key            = "aws-3tier-architecture/github-actions-bootstrap/terraform.tfstate"
region         = "us-east-1"
encrypt        = true
use_lockfile   = true
